$blanc : #fff;
$noir : #000;
$jourActif : rgba(255, 255, 0, 0.2);
$blueTheadTable: #36304a;
$rougePastel: rgb(240, 142, 142);
$evenTable : #f5f5f5;
$checkedLineTable : #a1cae2;
$tableHover:#eae3c8;
$labelbgColor:#8ec0dd;
$inputbgColor:#265d7d;
