@use './styles/vars';
/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '../node_modules/react-day-picker/lib/style';
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
body {
  position: relative;
  color: vars.$blanc;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: vars.$blanc;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.gantt-title {
  font-size: 2rem;
  font-weight: 900;
  color: vars.$noir;
  text-align: center;
  margin: 0;
}

.gantt .bar-progress {
  fill: green;
}
.gantt .bar-wrapper:hover .bar-progress {
  fill: blue;
}

#root {
  width: 100%;
  height: 100%;
}

.gantt .bar-wrapper.active .bar-progress {
  fill: red;
}

.gantt-container .popup-wrapper .title {
  border-bottom: 3px solid red;
  text-align: center;
}

.gantt-container .popup-wrapper {
  background-color: vars.$blanc;
  border: 1px solid vars.$noir;
  box-shadow: 2px 2px 2px 2px vars.$noir;
}
.gantt-container {
  width: 79%;
  height: 400px;
  border: 1px solid #c1c1c1;
}

.gantt-container .popup-wrapper {
  margin: 0px 0 0 -6px;
}
.gantt-graph {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.details-container {
  width: 200px;
  color: vars.$noir;
  &-title {
    font-size: 0.8rem;
    text-align: center;
    border-bottom: 3px solid red;
    color: vars.$noir;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }
  &-progress {
    text-align: center;
    font-weight: 600;
  }
  &-date {
    text-align: center;
  }
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  &-input {
    margin: 0.8rem;
  }
  &-label {
    display: flex;
    color: vars.$noir;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.5rem;
  }
  &-button {
    text-align: center;
    font-size: 0.8rem;
    text-decoration: none;
    width: 40%;
    border: 0.5px solid vars.$noir;

    &:active {
      text-decoration: none;
    }
    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
      background-color: green;
      color: vars.$blanc;
      border: 3px solid vars.$noir;
      cursor: pointer;
    }
  }
}
.form-button-zones {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.buttonMode {
  width: 100%;
  text-align: center;
  &--action {
    width: 10%;
    font-size: 0.8rem;
    background-color: #c1c1c1;
    font-weight: 900;
    &_select {
      background-color: green;
    }
  }
}
button {
  cursor: pointer;
}
button:focus {
  outline: none;
}
.remove:hover {
  background-color: red;
}

.articlePage-list {
  display: flex;
}
.articlePage-title {
  color: vars.$noir;
  text-align: center;
}

table {
  color: vars.$noir;
  border-collapse: collapse;
  background: vars.$blanc;
  border-radius: 10px;
  overflow: auto;
  width: 60%;
}
thead {
  background-color: vars.$blueTheadTable;
  color: vars.$blanc;
}
tr {
  text-align: center;
}
tbody tr:nth-child(even) {
  background-color: vars.$evenTable;
}
tbody {
  overflow-y: auto;
  overflow-x: hidden;
}
.checked {
  background-color: vars.$checkedLineTable !important;
}
.notChecked {
  background-color: vars.$blanc;
}
tr:hover td {
  background-color: vars.$tableHover;
}
.articlePage-form {
  color: vars.$noir;
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
}

tbody,
thead tr {
  display: block;
}
tbody {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody td,
thead th {
  width: 150px;
}

.gantt {
  overflow-y: scroll;
  height: 100vh;
}
.gantt-select {
  color: vars.$noir;
  height: 250px;
}
.gantt-select > h3 {
  margin: 0;
  text-align: center;
}
.dateModal {
  position: fixed;
  bottom: 25px;
  left: 600px;
  height: 150px;
  width: 300px;
  border: 0.2px solid vars.$inputbgColor;
  text-align: center;
  background: vars.$checkedLineTable;
  color: vars.$inputbgColor;
  font-size: 0.7rem;
  font-family: 'Chango', cursive;
  box-shadow: 10px 8px 11px 3px;
  &-title {
    margin: 0.5rem;
    color: vars.$blanc;
  }
  &-picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Chango', cursive;
  }
}
.dateModal--previous,
.dateModal--next {
  margin: 0 auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: vars.$blanc;
  font-weight: 600;
  user-select: none;
  color: vars.$checkedLineTable;
  border: 2px solid vars.$blanc;
  font-size: 0.8rem;
  &:hover {
    color: vars.$blanc;
    background: vars.$checkedLineTable;
    border: 2px solid vars.$blanc;
  }
  &:active {
    color: vars.$blanc;
    background: vars.$inputbgColor;
    border: 2px solid vars.$blanc;
  }
}
.dateModal-li {
  width: 50px;
  color: vars.$inputbgColor;
}
.dateModal-button {
  font-family: 'Chango', cursive;
  color: vars.$labelbgColor;
  background: vars.$blanc;
  display: inline-block;
  padding: 0.3rem;
  border-radius: 30%;
  &:hover {
    color: vars.$blanc;
    background: vars.$checkedLineTable;
    border: 2px solid vars.$blanc;
  }
  &:active {
    color: vars.$blanc;
    background: vars.$inputbgColor;
    border: 2px solid vars.$blanc;
  }
}
.dateModal--close {
  position: absolute;
  top: -6px;
  right: 5px;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    color: vars.$blanc;
  }
}

.selectProd {
  text-align: center;
  overflow-y: scroll;
}
.select {
  margin: 0.5rem;
  width: 150px;
  height: 20px;
  font-size: 0.7rem;
  text-align: center;
}

.DayPickerInput {
  margin: 1.5rem;
  font-size: 0.7rem;
}
.background-Modal {
  margin: 1.5rem;
  display: inline-block;
}
.selectProd--button {
  &:hover {
    color: vars.$blanc;
    background: green;
  }
}
.selectProd-quantity {
  display: inline-block;

  &-label {
    margin-bottom: 0.4rem;
  }
  &-input {
  }
}
.selection {
  text-align: center;
}
.select-table {
  width: 500px;
  margin: 0 auto;
}
.select-table-tbody {
  border: 1px solid #c1c1c1;
  height: 100px;
  font-size: 0.7rem;
  overflow: auto;
}
.DayPicker-wrapper {
  font-size: 0.7rem;
}

.recalcul {
  color: vars.$noir;
  text-align: center;

  &-submit {
    &--button {
      &:hover {
        color: vars.$blanc;
        background: green;
      }
    }
  }
}
.lancement {
  color: vars.$noir;

  &-title {
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
  }
  &-search {
    border: 1px solid vars.$labelbgColor;
    padding: 0.7rem;
    border-radius: 5px 0px 0px 5px;
    background: vars.$labelbgColor;
    color: vars.$inputbgColor;
    font-size: 0.8rem;
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  }
  &-form {
    width: 60%;
    text-align: center;
    margin: 2em 0;
    &:focus-within > span {
      border: 2px solid vars.$inputbgColor;
      background: vars.$inputbgColor;
      color: vars.$labelbgColor;
    }

    &:focus-within > .lancement-input {
      border: 2px solid vars.$inputbgColor;
    }
  }
  &-input {
    padding: 0.7rem;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid vars.$labelbgColor;
    transition: border 0.3s ease;
    &:focus {
      outline: none;
    }
  }
}
.container-lancement {
  display: flex;
}
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
}
.form-lct {
  margin: 0 1rem 1rem 1rem;

  &:focus-within > span {
    border: 2px solid vars.$inputbgColor;
    background: vars.$inputbgColor;
    color: vars.$labelbgColor;
  }
  &:focus-within > input {
    border: 2px solid vars.$inputbgColor;
  }
}
.form-title {
  border: 1px solid vars.$labelbgColor;
  display: block;
  font-size: 0.8rem;
  border-radius: 5px 5px 0 0;
  padding: 0.5em;
  text-align: center;
  color: vars.$inputbgColor;
  background: vars.$labelbgColor;
  transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;
}
.form-input {
  border: 1px solid vars.$labelbgColor;
  padding: 0.5em;
  border-radius: 0 0 5px 5px;
  text-align: center;
  margin: 0;
  transition: border 0.2s ease;
  &:focus {
    outline: none;
  }
}
.popup {
  position: fixed;
  background: vars.$labelbgColor;
  top: 35%;
  left: 20%;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 0px 5px 3px vars.$noir;
  &-title {
    color: vars.$inputbgColor;
    font-size: 1rem;
  }
  &-text {
    font-size: 0.8rem;
    &--bold {
      font-weight: 900;
    }
  }

  &--oui {
    color: vars.$inputbgColor;
    font-size: 0.8rem;
    &:hover {
      color: vars.$blanc;
      background: vars.$inputbgColor;
    }
    &:active {
      color: vars.$inputbgColor;
      background: vars.$blanc;
    }
  }
  &--non {
    color: vars.$inputbgColor;
    font-size: 0.8rem;
    &:hover {
      color: vars.$blanc;
      background: vars.$inputbgColor;
    }
    &:active {
      color: vars.$inputbgColor;
      background: vars.$blanc;
    }
  }
}
.popupMessage {
  position: fixed;
  background: vars.$inputbgColor;
  top: 40%;
  left: 23%;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
  width: 30%;
  box-shadow: 1px 0px 5px 3px vars.$noir;
  &-title {
    color: vars.$blanc;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &--oui {
    color: vars.$inputbgColor;
    font-size: 0.8rem;
    &:hover {
      color: vars.$blanc;
      background: vars.$labelbgColor;
    }
    &:active {
      color: vars.$labelbgColor;
      background: vars.$blanc;
    }
  }
}
.popupMessage-span {
  display : inline-block;
  height : 0;
  width : 0;
  border-right : 20px solid transparent;
  border-bottom : 30px solid red;
  border-left : 20px solid transparent;
  position: relative;
  margin: 0.2rem auto;
}
.popupMessage-span > span {
  position: absolute;
  top: 10px;
  left: -2px;
}

.search-name {
  display: block;
  padding: 0.7rem 0;
  width: 150px;
  &--erase {
    display: none;
}

}
.search-input {
  display: none;
  width: 150px;
  padding: 0.7rem 0;
 &:focus {
   outline: none;
   border: 1px solid vars.$labelbgColor;
 }
  &--view {
    display: block;
  }
}
.ordonnancement-form {
  color: vars.$noir;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  justify-content: space-evenly;

  &-field-button-zones {

  }
}
.form-ordo-button {

  &--modif {
    box-shadow: 0px 0px 5px 2px rgba(38, 93, 125, 0.8);
    &:hover {
      color: vars.$blanc;
      background: vars.$labelbgColor;
    }
    &:active {
      color: vars.$labelbgColor;
      background: rgba(38,93,125, 0.8);
    }
  }
}
.button--back {
  box-shadow: 0px 0px 5px 2px rgba(128,128,128, 0.8);
  &:hover {
    background: grey;
    color: vars.$blanc;
  }
  &:active {
    color: grey;
    background: vars.$blanc;
  }
}
.impression {
  text-align: center;
  &-button {
    box-shadow: 0px 0px 5px 2px rgba(240, 142, 142, 0.8);
    color: vars.$rougePastel;
    &:hover {
      background: vars.$rougePastel;
      color: vars.$blanc;
    }
  }

}
.reglages {
  color: black;
  &-title {
    text-align: center;
  }
}
.container-reglages-hour {

}
.reglages-form {

  &-all {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }

  &-jour {
    width: 100px;
  }
  &-button {
    text-align: center;
  }
  &-input {
    text-align: center;
    cursor: pointer;

    &--null {
      background: red;
    }
    &:focus {
      background: vars.$inputbgColor;
      border: 2px solid vars.$labelbgColor;
      outline: none;
      color: vars.$blanc;
      transform: scale(1.5);
      transition: 500ms;
    }
  }
}
.reglages-form-all > .reglages-form--null {
  background: rgb(255, 113, 113);
}

.reglages-form-all > select {
  background: #98ddca;
}
.reglages-form-button--modif {
  width: 200px;
  box-shadow: 0px 0px 5px 2px rgba(38,93,125, 0.8);
  color: rgba(38,93,125, 0.8);
  &:hover {
    color: vars.$blanc;
    background: vars.$labelbgColor;
  }
  &:active {
    color: vars.$labelbgColor;
    background: rgba(38,93,125, 0.8);
  }
}
#reglages_select {
  cursor: pointer;
}
.ganttMachine {
  color: vars.$noir;
  margin-left: 4rem;
}
.ganttMachine-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.ganttMachine-container-date {
  display: flex;
  &--day {
    border: 1px solid vars.$noir;
    width: 85px;
    text-align: center;
    background: vars.$blueTheadTable;
    color: vars.$blanc;
    &:nth-child(1){
      display: none;
    }
    &:nth-child(2){
      display: none;
    }
    &:nth-child(3){
      display: none;
    }
    &:nth-child(4){
      display: none;
    }
    &:nth-child(5){
      display: none;
    }
    &:nth-child(6){
      display: none;
    }
    &:nth-child(7){
      display: none;
    }
    &:nth-child(8){
      display: none;
    }

  }



}
.ganttMachine-container-bloc {
  display: flex;
  &--empty {

  }
  &--day {
    width: 85px;
    height: 30px;
    position: relative;
    border-bottom: 1px solid vars.$noir;

    &:nth-child(1){
      display: none;
    }
    &:nth-child(2){
      display: none;
    }
    &:nth-child(3){
      display: none;
    }
    &:nth-child(4){
      display: none;
    }
    &:nth-child(5){
      display: none;
    }
    &:nth-child(6){
      display: none;
    }
    &:nth-child(7){
      display: none;
    }
    &:nth-child(8){
      display: none;
    }
    &--touch {
      background: #98ddca;
      width: 85px;
      height: 15px;
      position: absolute;
      top: 6px;
      cursor: pointer;
      /* box-shadow: 8px 3px 0px 2px rgba(0,0,0, .4); */
      &--start {
        border-radius: 10px 0 0 10px;
        background: #98ddca;
        width: 85px;
        height: 15px;
        position: absolute;
        top: 6px;
        cursor: pointer;
        /* box-shadow: 4px 3px 0px 2px rgba(0,0,0, .4); */
      }
      &--end {
        background: #98ddca;
        width: 85px;
        height: 15px;
        position: absolute;
        top: 6px;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        /* box-shadow: 4px 3px 3px 2px rgba(0,0,0, .4); */
      }

    }
  }
}
.progress {
  background: vars.$rougePastel;
  width: 85px;
  height: 15px;
  position: absolute;
  border-radius: 10px 0 0 10px;
  z-index: 2;
  cursor: pointer;
}

.ganttMachine-container-all {
  overflow: auto;
  height: 500px;
}
.windowModal {
  display: none;
  &--open {
    display: block;
    z-index: 5;
    position: absolute;
    width: 300px;
    height: 175px;
    background: vars.$labelbgColor;
    padding: 2rem;
    font-size: 0.8rem;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 1px 0px 5px 3px vars.$noir;
  }
}
.windowModal-titre {
  text-align: center;
  margin: 0 0 1rem 0;
}
.windowModal-info {
  display: flex;
  flex-wrap: wrap;

  &-task {
    margin-right: 1rem;
    & > span {
      text-decoration: underline;
    }
  }
  &-progress {

    &[value] {
      appearance: none;
      border: none;
      width: 300px;
      height: 20px;
      border-radius: 5px;
      position: relative;


      &::-webkit-progress-bar {
        background-color: whitesmoke;
        box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
        border-radius: 10px;

      }
      &::-webkit-progress-value{
        border-radius: 10px;
        background-color: vars.$rougePastel;
        box-shadow: 5px 1px 10px rgba(0,0,0,.5) inset;
      }
    }
  }
}
.windowModal-info-progress-width {
  position: absolute;
  bottom: 0;
  left: 175px;
  font-weight: 900;
}
.ganttMachine-date {
  display: flex;
  position: relative;
  left: 500px;
}

.ganttMachine-return {
  transform: scale(0.8);
  width: 60px;
  height: 60px;
  position: absolute;
  top: 376px;
  left: -5px;
  display: flex;
  border-radius: 50%;
  border: 4px solid vars.$blueTheadTable;
  box-shadow: 0px 1px 5px 5px rgba(54, 48, 74, 0.3);
  cursor: pointer;
  transition: transform 300ms;
  &:hover {
    background: vars.$blueTheadTable;
    border: 4px solid vars.$blanc;

  }
  &:active {
    border: 4px solid vars.$blueTheadTable;
    background: vars.$blanc;
  }
  &--change {
    transform: rotateZ(180deg) scale(0.8);
  }

  &-fleche1 {
    width: 25px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 5px;
    &-haut {
      transform: rotate3d(0, 0, 1, -33deg);
      width: 35px;
      height: 6px;
      background: vars.$blueTheadTable;
      border-radius: 30px;
      box-shadow: 4px -2px 4px 1px rgba(54, 48, 74, 0.5);

    }
    &-bas {
      width: 35px;
      height: 6px;
      background: vars.$blueTheadTable;
      transform: rotate3d(0, 0, 1, 33deg);
      border-radius: 30px;
      box-shadow: 4px 1px 4px 1px rgba(54, 48, 74, 0.5);

    }
  }
  &-fleche2 {
    width: 25px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 5px;
    left: 20px;
    &-haut {
      transform: rotate3d(0, 0, 1, -33deg);
      width: 35px;
      height: 6px;
      background: vars.$blueTheadTable;
      border-radius: 30px;
      box-shadow: 4px -2px 4px 1px rgba(54, 48, 74, 0.5);
    }
    &-bas {
      width: 35px;
      height: 6px;
      background: vars.$blueTheadTable;
      transform: rotate3d(0, 0, 1, 33deg);
      border-radius: 30px;
      box-shadow: 4px 1px 4px 1px rgba(54, 48, 74, 0.5);
    }
  }
}


.ganttMachine-return:hover > .ganttMachine-return-fleche1 > .ganttMachine-return-fleche1-haut {
  background: vars.$blanc;
}
.ganttMachine-return:hover > .ganttMachine-return-fleche1 > .ganttMachine-return-fleche1-bas {
  background: vars.$blanc;
}
.ganttMachine-return:hover > .ganttMachine-return-fleche2 > .ganttMachine-return-fleche2-haut {
  background: vars.$blanc;
}
.ganttMachine-return:hover > .ganttMachine-return-fleche2 > .ganttMachine-return-fleche2-bas {
  background: vars.$blanc;
}

.ganttMachine-return:active > .ganttMachine-return-fleche1 > .ganttMachine-return-fleche1-haut {
  background: vars.$blueTheadTable;
}
.ganttMachine-return:active > .ganttMachine-return-fleche1 > .ganttMachine-return-fleche1-bas {
  background: vars.$blueTheadTable;
}
.ganttMachine-return:active > .ganttMachine-return-fleche2 > .ganttMachine-return-fleche2-haut {
  background: vars.$blueTheadTable;
}
.ganttMachine-return:active > .ganttMachine-return-fleche2 > .ganttMachine-return-fleche2-bas {
  background: vars.$blueTheadTable;
}
.day-information {
  background: vars.$jourActif;
  width: 85px;
  height: 500px;
  position: absolute;
  top: 153px;
  left: 326px;

  &--change {
    background: vars.$jourActif;
    width: 85px;
    height: 500px;
    position: absolute;
    top: 153px;
    left: 1022px;
  }
}
.ganttMachine-button-change {
  color: vars.$rougePastel;
  width: 150px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 0px 5px 2px rgba(240, 142, 142, 0.8);

  &:hover {
    background: vars.$rougePastel;
    color: vars.$blanc;
  }
  &:active {
    color: vars.$rougePastel;
    background:vars.$blanc;
  }
}

.ganttMachine-choice-button {
  width: 150px;
  color: vars.$inputbgColor;
  box-shadow: 0 2px 3px rgba(0,0,0,.5);

  &:hover {
    background: vars.$labelbgColor;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: vars.$blanc;
  }
}

.ganttMachine-choice {
  margin-top: 1rem;
}

.ganttMachine-choice-button {
  position: relative;
  top: 0;
  visibility: hidden;

  &-label {

    }

  }
  .ganttMachine-choice-button-label > span {
    padding: 0.6rem 4rem;
    cursor: pointer;
    border: 0.5px solid vars.$labelbgColor;
    border-radius: 15px;
  &:hover {
    background: vars.$labelbgColor;
    box-shadow: inset 0px 0px 3px 3px rgba(255, 255, 255, 0.55) ;
    color: vars.$blanc;
    font-weight: 900;
    border-radius: 15px;
  }

  }
  .ganttMachine-choice-button:checked + span  {
    background: vars.$labelbgColor;
    box-shadow: inset 0px 0px 3px 3px rgba(255, 255, 255, 0.55) ;
    color: vars.$blanc;
    font-weight: 900;
    border: 4px solid vars.$inputbgColor;

  }
.ganttMachine-choice-button-select {
  position: absolute;
  top: 39px;
  left: 478px;
  padding: 0.3rem 4rem;
  border-radius: 10px;
}
.ganttMachine-choice-form {
  position: relative;
}

.ganttMachine-choice-button-button {
  position: absolute;
  top: 68px;
  left: 320px;
  width: 200px;
  box-shadow: 0px 0px 5px 2px rgba(38,93,125, 0.8);
  color: rgba(38,93,125, 0.8);
  &:hover {
    color: vars.$blanc;
    background: vars.$labelbgColor;
  }
  &:active {
    color: vars.$labelbgColor;
    background: rgba(38,93,125, 0.8);
  }
}

.ganttMachine-title {
  font-size: 1.5rem;
}

.button-screenshot {
  position: absolute;
  top: 0;
  left: 270px;
  &:hover {
    background: vars.$labelbgColor;
    border: 2px solid vars.$inputbgColor;
  }
  &:active {
    background: rgba(38,93,125, 0.8);
    border: 2px solid vars.$labelbgColor;
  }
}
.button-screenshot--img {
  width: 50px;
  height: 50px;

}
.machinesPage {
  color: vars.$noir;

  &-title {
    text-align: center;
    font-size: 1.5rem;
  }

}
